@import "../style/mixin/adaptive";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "../style/blocks/header";
@import "../style/blocks/main";





html {
	height: 100%;
	& * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: Inter Tight;
	  font-weight: 400;
	  line-height: 150%;
	  letter-spacing: 0%;
	}
 
	& body {
		font-family: Inter Tight;
		height: 100%;
	}
 }
 
 .hide {
	display: none !important;
 }