@import "../style/mixin/adaptive";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "../style/blocks/header";
@import "../style/blocks/main";
@import "../style/blocks/about";
@import "../style/blocks/services";
@import "../style/blocks/motto";
@import "../style/blocks/works";
@import "../style/blocks/rewiews";
@import "../style/blocks/news";
@import "../style/blocks/contacts";
@import "../style/blocks/footer";





html {
	
	height: 100%;
	scroll-behavior: smooth;	
	& * {

//outline: 4px solid green !important;

	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: Inter Tight;
	  font-weight: 400;
	  line-height: 150%;
	  letter-spacing: 0%;
	  outline: none;   
	}
 
	& body {
		font-family: Inter Tight;
		height: 100%;
		width: 100vw;
			
	}
 }
 
 .hide {
	display: none !important;
 }


 .btn, .arrow{
	transition: border-radius 0.6s; 
}
.btn:hover{
	cursor: pointer;
	border-radius: 80px;
	.arrow{
		border-radius: 80px;
	}
	
}
