@import "../mixin/adaptive";

.contacts {
	height: 886px;
	padding: 0px 130px 130px 130px;

	&__wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 1660px;
		height: 756px;
		padding: 120px 140px 120px 140px;
		background: rgb(223, 238, 255);
	}

	&__form {
		width: 540px;
		height: 515px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 50px;
		padding: 0px;

		@include _1440 {
			width: 420px;
			height: 520px;
		}

		@include _1280 {
			width: 380px;
			height: 492px;
			gap: 40px;
		}

		@include _1024 {
			width: 380px;
			height: 480px;

		}

		@include _768 {
			width: 460px;
			height: 480px;

		}

		@include _360 {
			width: 260px;
			height: 433px;
			gap: 30px;
		}
	}

	&__form-title {
		color: rgb(23, 121, 229);
		font-size: 48px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -2%;
		text-align: left;

		@include _1440 {
			font-size: 38px;
		}

		@include _1280 {
			font-size: 36px;
		}

		@include _1024 {
			font-size: 28px;
		}
	}

	&__form-description {
		width: 540px;
		height: 81px;
		color: rgb(50, 50, 50);
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: 0%;
		text-align: left;

		@include _1440 {
			font-size: 16px;
			width: 420px;
			height: 96px;
		}

		@include _1280 {
			width: 380px;
			height: 96px;
		}

		@include _1024 {
			width: 380px;
			height: 96px;
		}

		@include _768 {
			width: 460px;
			height: 96px;
		}

		@include _360 {
			width: 260px;
			height: 105px;
			font-size: 14px;
		}
	}

	&__form-input {
		width: 540px;
		height: 56px;
		padding: 16px;
		box-sizing: border-box;
		border: 0px;
		border-bottom: 1px solid rgb(202, 216, 231);
		background: rgb(246, 250, 255);

		@include _1440 {
			width: 420px;
			height: 56px;
		}

		@include _1280 {
			width: 380px;
			height: 53px;
		}

		@include _1024 {
			width: 380px;
			height: 53px;
		}

		@include _768 {
			width: 460px;
			height: 53px;
		}

		@include _360 {
			width: 260px;
			height: 46px;
		}
	}


	&__wrap label {
		font-size: 18px;

		@include _360 {
			font-size: 14px;
		}
	}

	&__form-btn {
		width: 540px;
		height: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px 10px 50px;
		background: rgb(23, 121, 229);

		@include _1440 {
			width: 420px;
			height: 60px;
		}

		@include _1280 {
			width: 380px;
			height: 56px;
		}

		@include _1024 {
			width: 380px;
			height: 56px;
		}

		@include _768 {
			width: 460px;
			height: 56px;
		}

		@include _360 {
			width: 260px;
			height: 46px;
		}
	}

	&__form-btn .btn-text {
		color: rgb(246, 250, 255);
		font-size: 18px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: 0%;
		text-align: left;

		@include _1440 {
			font-size: 16px;
		}

		@include _1280 {
			font-size: 14px;
		}
	}

	&__form-btn .arrow {
		width: 40px;
		height: 40px;
		background: rgb(246, 250, 255);
		display: flex;
		justify-content: center;
		align-items: center;

		@include _1024 {
			width: 30px;
			height: 30px;
		}
	}

	&__separator {
		width: 300px;
		height: 516px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include _1440 {
			width: 240px;
			height: 520px;
		}

		@include _1280 {
			width: 220px;
			height: 492px;
		}

		@include _1024 {
			width: 100px;
			height: 480px;
		}

		@include _768 {
			display: none;
		}


	}

	&__separator div {
		height: 229px;
		border: 1px solid rgb(203, 216, 232);

		@include _1440 {
			height: 231px;
		}

		@include _1280 {
			height: 217px;
		}

		@include _1024 {
			height: 211px;
		}
	}
		&__description {
			width: 380px;
			height: 490px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 24px;
			padding: 10px 0px 0px 0px;
		}
		&__description-head{
			gap: 16px;
		}
		&__description-title{
			font-size: 28px;
			font-weight: 500;
			line-height: 100%;
			letter-spacing: -2%;
		}

		&__description-text{
			font-size: 16px;
			font-weight: 400;
			line-height: 150%;
		}
		&__description-main{
			display: flex;
			flex-direction: column;
			gap: 12px;
			justify-content: space-between;
			border-top: 1px solid rgb(203, 216, 232);
			border-bottom: 1px solid rgb(203, 216, 232);
			padding: 24px 0;
		}
		&__description-main1{
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}
		&__description-main2{
			font-size: 24px;
			font-weight: 400;
			line-height: 100%;
		}
		&__description-main3{
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}
		&__description-main4{
			font-size: 24px;
			font-weight: 400;
			line-height: 100%;
		}
		&__description-main5{
			font-size: 16px;
font-weight: 300;
			line-height: 100%;
		}
		&__description-main6{
			font-size: 18px;
			font-weight: 400;
			line-height: 100%;
		}
		&__description-email{
			font-size: 24px;
			font-weight: 400;
			line-height: 100%;
		}

}




@include _1440 {}

@include _1280 {}

@include _1024 {}

@include _768 {}

@include _360 {}