@import "../mixin/adaptive";

.motto{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 860px;
	background-image: url("../../img/motto.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 130px;

	@include _1440{
		padding: 100px 70px 100px 70px;
	}
	@include _1280{
		
	}
	@include _1024{
		
	}
	@include _768{
		height: 500px;
	}
	@include _360{
		
		height: 400px;
		padding: 40px 20px;
	}

}

.motto span{
	width: 820px;
	height: 120px;
	
	color: rgb(246, 250, 255);
font-family: Inter Tight;
font-size: 60px;
font-weight: 400;
line-height: 100%;
letter-spacing: -2%;
text-align: left;

@include _1440{
	padding: 100px 70px;
	font-size: 48px;
}
@include _1280{
	font-size: 44px;
	padding: 100px 50px;
}
@include _1024{
	font-size: 32px;
	padding: 80px 42px;
}
@include _768{
	font-size: 28px;
	padding: 60px 34px;
}
@include _360{
	font-size: 20px;
	padding: 40px 20px;
}
}